<link rel='stylesheet prefetch' href='https://s3-us-west-2.amazonaws.com/s.cdpn.io/161872/paper-collapse.min.css'>
<link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css'>
<%= stylesheet_link_tag    'questionlist', media: 'all', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
<p id="notice"><%= notice %></p>
<div class="collapse-card">
  <div class="question">
      <div class="userDetail">
<div class="title">
    <header>
         <div class="fakeimage"></div>
         <p><i class="fa fa-calendar"></i>01/21/15</p>
         <p><i class="fa fa-user"></i><%= @question.user.email %></p>
         <br>
         <h4><%= @question.title %></h4>
         <br>
         <p><%= @question.content %></p>
         <!-- <h2>Lorem Ipsum</h2> -->
    </header>
</div>
 </div>
 </div>
</div>
<br>
<br>
<div id="modal2" class="modal">
  <div class="createAnswer">
  <div class="modal-content">
     <%= form_for @answer, :url => answers_path(question_id:@question.id), remote: true do |task|%>
       <div class="input-field col s12">
    <%= task.text_field :content, class:'validate',id:'content' %><br>
      <%= task.label :content, for:'content' %><br>
 </div>
        <div class="actions">
          <div class="modal-footer">
          </div>
          <%= task.submit id: 'create_answer_submit', class:"modal-action modal-close waves-effect waves-red btn-flat" %>
        </div>
    <% end %>
    <% if @answer.errors.any? %>
    <% @answer.errors.full_messages.each do |message| %>
        <%= message %>
      <% end %>
    <% end %>
    </div>
</div>
</div>
<div id="answers">
  <% @answerfeed.each do |answer| %>
  <%= render 'answer' , answer: answer %>

  <% end %>
</div>
