<!-- <head>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css'>
  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css'>
</head> -->
<div class="col s4">
  <div class="question">
    <div class="userDetail">
        <div class="card hoverable">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="http://placehold.it/320">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"><%= question.user.name %><i class="material-icons right">more_vert</i></span>
            <% if can? :destroy, question %>
                <p><%= link_to 'Show', question, params[id: question.id] %></p>
                <p> <%= link_to "Delete", question, method: :delete, data: {confirm: "Are you sure?"} %></p>
            <% end %>
            <p><b><%= link_to question.like_string(current_user.id,question.id), question_like_path(question), remote:true,method: :post ,id: "like_#{question.id}" %>
                </b>

<b><%= link_to('follow', question_follow_path(question), remote:true,method: :post) %></b></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><%= question.title %><i class="material-icons right">close</i></span>
            <p><%= question.content %></p>
          </div>
        </div>
      </div>
        </div>
      </div>


<!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js'></script> -->
