<div id="tab1" class="col s12">
  <section id="photo-bg" class="red lighten-4">
    <div class="container">
      <div class="row">
        <div class="col s12" style="margin-bottom: 40px">
          <h1 class="header center-on-small-only white-text">A demonstration</h1>
          <h4 class="light white-text text-lighten-4 center-on-small-only">Learning about the Materialize framework.</h4>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <div class="row">
        <div id="questions">
          <% @feed.each do |question| %>
              <%= render 'question' , question: question %>
          <% end %>
        </div>
    </div>
  </div>
</div>

<!-- /#tab1  -->


<div id="modal2" class="modal">
<div class="createQuestion">
<div class="modal-content">
  <%= form_for @question, remote: true do |task|%>
  <div class="input-field col s12">
      <%= task.text_field :title, class:'validate', id:'title' %><br>
    <%= task.label :title, for:'title' %><br>
     </div>
     <div class="input-field col s12">
  <%= task.text_field :content, class:'validate',id:'content' %><br>
    <%= task.label :content, for:'content' %><br>
</div>
      <div class="actions">
        <div class="modal-footer">
        </div>
        <%= task.submit id: 'create_question_submit', class:"modal-action modal-close waves-effect waves-red btn-flat" %>
      </div>
  <% end %>
  <% if @question.errors.any? %>
      <% @question.errors.full_messages.each do |message| %>
          <%= message %>
      <% end %>
  <% end %>
  </div>

</div>
</div>


<%= javascript_include_tag 'questionlist', 'data-turbolinks-track' => true %>
